<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="NyaTerm"
      Manufacturer="NyaTerm"
      Version="$(Version)"
      UpgradeCode="D3BF2611-9219-49E1-A152-84B56B6AEC17"
      Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of NyaTerm is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="NyaTerm">
        <Component Id="MainExecutable" Guid="E46EE598-40D7-45D4-853D-D201EEA66D87">
          <File Id="NyaTermExecutable" Source="$(BinaryPath)" Name="NyaTerm.exe" KeyPath="yes">
            <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuFolder" Name="NyaTerm" WorkingDirectory="INSTALLFOLDER" Advertise="yes" />
          </File>
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="NyaTerm" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Package>
</Wix>
